* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.5rem 20px;
}

#logo {
    height: 50px; 
    margin-right: 10px;
}

header h1 {
    font-size: 28px;
    color: #000;
    margin: 0;
}



nav {
    background-color: #008000;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start; 
    padding-left: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    display: inline-block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: black;
    color: #9ae39a;
}

#content-wrapper {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

aside {
    background-color: #ccc; 
    padding: 1rem;
    border: 1px solid #008000;
    flex: 1;
    order: -1; 
}

aside section {
    margin-bottom: 1rem;
    background-color: white;
    border: 1px solid #008000;
}

aside h3 {
    background-color: #008000;
    color: white;
    padding: 0.5rem;
    text-align: center;
    margin: 0;
}

aside a {
    padding: 1rem;
    text-decoration: none;
    color: #008000;
    display: block;
}

main {
    flex: 4;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
}

article img {
    float: left;
    margin: 0.5rem 1rem 1rem 0;
    border: 3px double #333;
    width: 400px;
}


.bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.box {
    flex: 1;
    background-color: #e7f7e7; 
    border: 1px solid #008000; 
    border-radius: 10px; 
    text-align: center;
    padding: 0;
    margin: 0;
}

.box h2 {
    background-color: #008000; 
    color: white; 
    padding: 0.5rem;
    margin: 0;
    border-radius: 10px 10px 0 0; 
    text-align: center;
    font-size: 1.2rem;
}

.box img {
    border: 3px double #333; 
    margin: 10px auto; 
    display: block;
    width: 200px;
    height: auto;
}

.box p {
    background-color: #d8e8d8; 
    padding: 10px;
    font-weight: bold;
    color: #3d8235; 
    text-align: center;
    margin: 0;
    border-top: 1px solid #008000; 
}
